<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form  (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" placeholder="Email" [(ngModel)]="user.email" class="form-control"  name="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" [(ngModel)]="user.password" class="form-control"  name="password" required>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
